# DeepSeek API Key (SiliconFlow)
DEEPSEEK_API_KEY=your_api_key_here
DEEPSEEK_MODEL=deepseek-ai/DeepSeek-V3.2


ALIYUN_OCR_ACCESS_KEY_ID=你的AccessKey ID
ALIYUN_OCR_ACCESS_KEY_SECRET=你的AccessKey Secret
ALIYUN_OCR_REGION=cn-hangzhou
ALIYUN_OCR_ENDPOINT=ocr-api.cn-hangzhou.aliyuncs.com
